body {
    font-family: Arial, sans-serif;
    background-color: #3f0041;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #4b4b4b;
    background-image: url("backs/—Pngtree—pink\ purple\ pink\ purple\ pink_951178.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #ffffff;
    color: rgb(32, 32, 32);
}
tbody{
    background-color: #3f00418a;
    color: #ffffff;
    font-weight: bold;
}
